.COOLANIMATIONUp	{
	position: relative;
	color: transparent !important; 
}
.COOLANIMATIONUp:before {
	content: attr(data-text);
	height: 100%;
	width: 100%;

	position: absolute;
	left: 0px;

	color: #fee769;

	transform: translateY(0);
	transition: 0.5s;

	pointer-events: none;

	font-size: 15pt;

}
.COOLANIMATIONUp:hover:before {
	transform: translateY(100%);
	opacity: 0;
	font-size: 10pt;

	left: 0px;

	/*-webkit-transform: translateX(-50%);
	transform: translateX(-50%);*/
}
.COOLANIMATIONUp:after {
	content: attr(data-text);
	height: 100%;
	width: 100%;


	position: absolute;
	left: 0px;

	color: #fee769;
	
	transform: translateY(-100%);
	transition: 0.5s;

	pointer-events: none;
	opacity: 0;

	font-size: 10pt;
}
.COOLANIMATIONUp:hover:after {
	transform: translateY(0);
	opacity: 1;

	font-size: 15pt;
}