#maunButtonsInDownload {
	display: flex;
	justify-content: center;
	flex-direction: column;

	position: relative;
}

#maunButtonsInDownload div:nth-child(1) {
	position: relative;
	margin: 0 auto;

	left:-15px;
}
#maunButtonsInDownload div:nth-child(2) {
	position: relative;
	margin: 0 auto;
	top: 10px;
	left: 185px;
}
#maunButtonsInDownload div:nth-child(3) {
	position: relative;
	margin: 0 auto;
	top: 20px;
	left: -215px;
}





/*background*/
#cloud {
	position: absolute;
	top: 0px;

	width: 100%;

	object-fit: cover;  
	object-position: 40% 10%;
}
#bird {
	position: absolute;

	right: 500px;
	top: 50px;


	width: 50px;
	height: 50px;
	object-fit: cover;  
	object-position: 40% 10%;
}
#bird1 {
	position: absolute;

	left: 500px;
	top: 550px;

	width: 150px;
	height: 150px;
	object-fit: cover;  
	object-position: 40% 10%;

}
#tree {
	position: absolute;

	bottom: -170px;
	left: 50px;

	object-fit: cover;  
	object-position: 40% 10%;

	z-index: 25;

}
#mountain {
	position: absolute;

	width: 100%;

	z-index: 20;
	bottom: -200px;

}	
#rocket {
	position: absolute;
	width: 50px;
	height: 50px;
	object-fit: cover;  
	object-position: 40% 10%;
	z-index: -1;
}
#mooon {
	position: absolute;

	right: 150px;
	top: 50px;

	width: 250px;
	height: 250px;
	object-fit: cover;  
	object-position: 40% 10%;

}

/*
grid*/
.gridContainer {
	position: relative;
	/*max-width: 100%;*/

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: minmax(100px, auto);

	margin: 40px;

	/*grid-auto-flow: dense;*/
	grid-gap: 10px;
}

.gridContainer .gridBox {
	color: white;
	background-color: rgba(0,0,0,.5);

	display: grid;
	font-size: 20px;

	place-items: center;
	text-align: center;

	transition: .5s;
}
.gridContainer .gridBox:hover {
	background-color: rgba(0,0,0,.7);
	transition: .1s .1s;
}
.gridContainer .gridBox img	{
	position: relative;
	max-width: 100px;
	margin-bottom: 10px;
}


.gridContainer .gridBox:nth-child(1){
	grid-column: span 3;
	grid-row: span 2;
}
.gridContainer .gridBox:nth-child(4){
	grid-column: span 1;
	grid-row: span 2;
}
.gridContainer .gridBox:nth-child(4):hover{
	background-color: orange;
	color: black;
	transition: background-color 1s;
}
.gridContainer .gridBox:nth-child(5){
	grid-column: span 1	;
	grid-row: span 2;
}
.gridContainer .gridBox:nth-child(6){
	grid-column: span 2;
	grid-row: span 1;
}
.octagon {
	width: 200px;
	height: 200px;

	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

  	position: absolute;
}


@media (max-width: 991px) {
	.gridContainer {
		grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
		grid-template-rows: minmax(auto, auto);
	}
	.gridContainer .gridBox {
		grid-column: unset !important;
		grid-row: unset !important;
	}

}



