::-webkit-scrollbar {
	display: block;
    width: 0.4em;
}

::-webkit-scrollbar:window-inactive {
    width: 0.1em;
}
 
::-webkit-scrollbar-track {
    background-color: #8000ff;
    border-radius: 2em;
}
 
::-webkit-scrollbar-thumb {
  	background-color: #0080ff;
  	border-radius: 2em;
}



::-webkit-scrollbar-track:hover { 
    background-color: #0080ff;
}
::-webkit-scrollbar-thumb:hover { 
  	background-color: #ffff00; 
}

/*::-webkit-scrollbar:hover {
	width: 1em;
}
*/